{% load static from staticfiles %}

<!DOCTYPE HTML>
<html lang="uk">
	
<head>
	<meta charset="UTF-8" />
	<title>Сервіс обліку студентів - {% block meta_title %}
	{% endblock meta_title %}</title>
	<meta name="description"
		value="Система Обліку Студентів Навчального Закладу" />
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/main.css" %}">
	{% block extra_css %}{% endblock extra_css %}
	</head>			
<body>
	<div class="container">
		<!-- Header -->
		<div class="row" id="header">
			<div class="col-xs-8">
				<h1>{% block header %}Сервіс Обліку Студентів{% endblock header %}</h1>
			</div>
			<div class="col-xs-4" id="group-selector">
				<strong>Група:</strong>
				<select>
					<option value="">Усі студенти</option>
					{% for group in groups %}
					<option value="{{ group.title }}">
						{{ group.title }}, {{ group.leader.first_name }} 
						{{ group.leader.last_name }}
					</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<!-- Subheader -->
		<div class="row" id="sub-header">
			<div class="col-xs-12">
				<ul class="nav nav-tabs">
					<li role="presentation" 
						{% if request.path == '/' %}class="active"{% endif %}>
						<a href="{% url "home" %}">
							Студенти
						</a></li>
					<li role="presentation"
						{% if '/journal' in request.path %}class="active"{% endif %}>
						<a href="{% url "journal" %}">
						Відвідування
					</a></li>
					<li role="presentation"
						{% if "/groups" in request.path %}class="active"{% endif %}>
						<a href="{% url "groups" %}">Групи</a>
					</li>
					<li role="presentation"
						{% if "/exams" in request.path %}class="active"{% endif %}>
						<a href="{% url "exams" %}">Екзамени</a>
					</li>
					<li role="presentation"
						{% if '/contact-admin' in request.path %}class="active"{% endif %}>
						<a href="{% url "contact_admin" %}">Контакт</a>
					</li>
					{% block subheader %}{% endblock subheader %}
				</ul>
			</div>
		</div>
		<!-- Main page -->
		<div class="row" id="content-columns">
			<div class="col-xs-12">
				{% block status_message %}
				{% if messages %}
					{% for message in messages %}
						<div {% if message.tags == 'success' %}
							class="alert alert-success"{% endif %}
							{% if message.tags == 'info' or message.tags == 'warning' %}
							class="alert alert-warning"{% endif %}>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
				{% endblock %}
				<h2 class="head">{% block title %}{% endblock title %}</h2>
				{% block content %}{% endblock content %}
			</div>
		</div>
		
		<!-- Footer -->
		<div class="row" id="footer">
			<div class="col-xs-12">{% block footer %}&copy; 2015 Сервіс Обліку Студентів{% endblock footer %}</div>
		</div>
		
		<!-- Admin Button --> 
		<a class="btn btn-primary btn-lg head" 
			href="{{ static }}/admin/" role="button">
			Адмінка
		</a>
	</div>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	{% block extra_js %}{% endblock extra_js %}	
</body>
	
</html>
