{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Екзамени{% endblock meta_title %}

{% block title %}<div class='title_page'>Екзамени</div>{% endblock title %}

{% block content %}

<div id='page'>

<a class="btn btn-primary btn-lg head form-link" 
href="{% url "exams_add" %}" role="button">
	Додати екзамен
</a>

<div>
	<!-- Table of Student -->
	<table class="table table-hover table-striped">
		<thead>
			{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
			<tr>
				<th><a class='sorting' href='{% url "exams" %}?order_by=id
					{% if order_by == 'id' and reverse != '1' %}
						&amp;reverse=1
					{% endif %}'>
					№
					<span class="arrUp" style="display: none">&uarr;</span>
					<span class="arrDown" style="display: none">&darr;</span>
					</a></th>
				<th><a class='sorting' href='{% url "exams" %}?order_by=matter
					{% if order_by == 'matter' and reverse != '1' %}
					&amp;reverse=1{% endif %}'>
					Назва предмету
					<span class="arrUp">&uarr;</span>
					<span class="arrDown" style="display: none">&darr;</span>
					</a></th>
				<th><a class='sorting' href='{% url "exams" %}?order_by=group_exam__title
					{% if order_by == 'group_exam__title' and reverse != '1' %}
					&amp;reverse=1{% endif %}'>
					Група
					<span class="arrUp" style="display: none">&uarr;</span>
					<span class="arrDown" style="display: none">&darr;</span>
					</a></th>
				<th><a class='sorting' href='{% url "exams" %}?order_by=time
					{% if order_by == 'time' and reverse != '1' %}
					&amp;reverse=1{% endif %}'>
					Час проведення
					<span class="arrUp" style="display: none">&uarr;</span>
					<span class="arrDown" style="display: none">&darr;</span>
					</a></th>
				<th><a class='sorting' href='{% url "exams" %}?order_by=teacher
					{% if order_by == 'teacher' and reverse != '1' %}
					&amp;reverse=1{% endif %}'>
					Викладач
					<span class="arrUp" style="display: none">&uarr;</span>
					<span class="arrDown" style="display: none">&darr;</span>
					</a></th>	
				<th>Дії</th>
			</tr>
			{% endwith %}
		</thead>
		<tbody>
			{% if exams %}
			{% for exam in exams %} 
			<tr> 
				<td>{{ exam.id }}</td>
				<td><a class='form-link' href='{% url "exams_edit" exam.id %}'>
					{{ exam.matter }}</a></td>
				<td><a class='form-link' href='{% url "groups_edit" exam.group_exam.id %}'>
					{{ exam.group_exam.title }}</a></td>
				<td>{{ exam.time }}</td>
				<td><a class='form-link' href='{% url "exams_edit" exam.id %}'>
					{{ exam.teacher }}</a></td>
				<td>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" 
							type="button" id="dropdownMenu1" data-toggle="dropdown" 
							aria-expanded="true">
								Дія
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" 
							aria-labelledby="dropdownMenu1">
							<li role="presentation">
								<a class='form-link' role="menuitem" tabindex="-1" 
								href="{% url "exams_edit" exam.id %}">
									Редагувати
								</a></li>
							<li role="presentation">
								<a class='form-link' role="menuitem" tabindex="-1" 
								href="{% url "exams_delete" exam.id %}">
									Видалити
								</a></li>
						</ul>
					</div>
				</td>
			</tr>
			{% endfor %}
			{% else %}
			<tr>
				<td></td>
				<td>Для обраної групи немає екзаменів</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
	
</div>

{% if pages|length > 1 %}
		{% include "students/pagination.html" with page='exams' order_by=request.GET.order_by reverse=request.GET.reverse %}
{% endif %}

</div>

{% endblock content %}
