{% extends "students/base.html" %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи{% endblock title %}

{% block content %}
<a class="btn btn-primary btn-lg" 
	href="{% url "groups_add" %}" role="button">Додати Групу</a>
<div>
	<!-- Table of Student -->
	<table class="table table-hover table-striped">
		{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
		<thead>
			<tr>
				<th><a href="{% url 'groups' %}?order_by=id
				{% if order_by == 'id' and reverse != '1' %}
					&amp;reverse=1
				{% endif %}">
				№
				{% if order_by == 'id' and reverse != '1' %}
					&uarr;
				{% elif order_by == 'id' and reverse == '1' %}
					&darr;
				{% endif %}
				</a></th>
				<th><a href="{% url 'groups' %}?order_by=title
				{% if order_by == 'title' and reverse != '1' or order_by == '' %}
					&amp;reverse=1
				{% endif %}">
				Назва
				{% if order_by == 'title' and reverse != '1' or order_by == '' %}
					&uarr;
				{% elif order_by == 'title' and reverse == '1' %}
					&darr;
				{% endif %}
				</a></th>
				<th><a href="{% url 'groups' %}?order_by=leader__first_name
				{% if order_by == 'leader__first_name' and reverse != '1' %}
					&amp;reverse=1
				{% endif %}">
				Староста
				{% if order_by == 'leader__first_name' and reverse != '1' %}
					&uarr;
				{% elif order_by == 'leader__first_name	' and reverse == '1' %}
					&darr;
				{% endif %}
				</a></th>
				<th>Дії</th>
			</tr>
		</thead>
		{% endwith %}
		<tbody>
			<!-- Groups List -->
			{% for group in groups %}
			<tr>
				<td>{{ group.id }}</td>
				<td><a title="Редагувати" href="{% url "groups_edit" group.id %}">
						{{ group.title }}
					</a></td>
				<td>
					{% if group.leader.id %}
					<a title="Редагувати" 
					href="{% url "students_edit" group.leader.id %}">
						{{ group.leader.first_name }} {{ group.leader.last_name }}
					</a>
					{% else %}
					<span style="color: red">Староста групи не вибраний!</span>
					{% endif %}
				</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" 
							type="button" id="dropdownMenu1" 
							data-toggle="dropdown" aria-expanded="true">
							Дія
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" 
							role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" 
									href="{% url "groups_edit" group.id %}">
									Редагувати
								</a></li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" 
									href="{% url "groups_delete" group.id %}">
									Видалити
								</a></li>
						</ul>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- Panel of Navigation -->
	{% if pages|length > 1 %}
		{% include "students/pagination.html" with page='groups' order_by=request.GET.order_by reverse=request.GET.reverse %}
	{% endif %}
</div>
{% endblock content %}
