{% extends "students/base.html" %}

{% block meta_title %}Форма додавання групи{% endblock meta_title %}

{% block title %}Форма додавання групи{% endblock title %}

{% block content %}

<form method="post" action="." type="multipart/form-data" class="form-horizontal">
	
	{% csrf_token %}
	
	<div class="form-group">
		<label for="title" class="col-sm-2 control-label">Назва</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="title" placeholder="Введіть назву групи" name="title">
			<span class="help-block">{{ errors.title }}</span>
		</div>
	</div>
	
	<div class="form-group">
		<label for="notes" class="col-sm-2 control-label">Додаткові нотатки</label>
		<div class="col-sm-10">
			<textarea class="form-control" id="notes" 
				name="notes">{{ request.POST.notes }}</textarea>
		</div>
	</div>
	
	<div class="form-group">
		<label for="notes" class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<button name="add_button" type="submit" class="btn btn-primary">Додати</button>
			<button name="cancel_button" type="submit" class="btn btn-link">Скасувати</button>
		</div>
	</div>
	
</form>

{% endblock content %}
