{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Облік Відвідування{% endblock meta_title %}

{% block title %}<div class='title_page'>Облік Відвідування</div>{% endblock title %}

{% block content %}

<div id='page'>
	
{% if not students %}

<div class='alert alert-warning'>
	Поки немає жодного студента в базі. Будь, ласка 
		<a href='{% url 'students_add' %}'>додайте</a> першого.
</div>

{% else %}
<div class='alert alert-warning' id='normal'>
	Зміни в журнал зберігаються автоматично при кожному кліку в клітинці таблиці
	<span id='ajax-progress-indicator'>Йде збереження...</span>
</div>
<div class='alert alert-danger' id='error'>
</div>

<p id='journal-nav' class='text-center'>
	<a href='?month={{ prev_month }}' title='Попередній місяць'>&larr;</a>
	<strong>{{ month_verbose }} {{ year }}</strong>
	<a href='?month={{ next_month }}' title='Наступний місяці'>&rarr;</a>
	<p>{{ relat }}</p>
</p>

<table class="table table-hover table-bordered table-striped"
		id="students-journal">
	<thead>
		<tr class="header">
			{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
			<th><a class='sorting' href="{% url "journal" %}?order_by=id
				{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
				№
				<span class="arrUp" style="display: none">&uarr;</span>
				<span class="arrDown" style="display: none">&darr;</span>
				</a></th>
			<th style="text-align:left"><a class='sorting'
				href="{% url "journal" %}
				?order_by=first_name
				{% if order_by == 'first_name' and reverse != '1' %}
					&amp;reverse=1
				{% endif %}">Студент
				<span class="arrUp">&uarr;</span>
				<span class="arrDown" style="display: none">&darr;</span>
				</a></th>
			{% endwith %}
			{% for day in month_header %}
			<th class="day-header" {% if day.verbose == "Sa" or day.verbose == "Su" %} 
				style="color: red"{% endif %}>
				{{ day.verbose }}
				<br />
				{{ day.day }}
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% csrf_token %}
		
		{% for student in students %}
		<tr>
			<td>
				{{ forloop.counter|add:page }}
			</td>
			<td><a title="Редагувати" class="form-link"
				href="{% url 'students_edit' student.id %}">
				{{ student.full_name }}</a></td>
			{% for day in student.days %}
			<td class='day-box'>
				{% if day.verbose_date != '6' and day.verbose_date != '0' %} 
					<input type="checkbox" data-student-id='{{ student.id }}'
					data-date='{{ day.date }}' data-url="{{ student.update_url }}" 
					value="1" {% if day.present %} checked='checked' {% endif %} />
					{% endif %}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if pages|length > 1 %}
	{% include "students/pagination.html" with page='journal' order_by=request.GET.order_by reverse=request.GET.reverse %}
{% endif %}

{% endif %}

</div>


{% endblock content %}
