<nav>
	<ul class="pagination">
		<li>
			<a href="{% url page %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% for p in students.paginator.page_range %}
			<li {% if students.number == p %}
				class="active" {% endif%}>
				<a href="{% url page %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
			</li>
		{% endfor %}
		<li>
			<a href="{% url page %}?page={{ students.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}" 
				aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>
