{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Додати студента{% endblock meta_title %}

{% block title %}Додати студента{% endblock title %}

{% block status_message %}
	{% if errors %}
	<div class="alert alert-danger" role="alert">
		Будь-ласка, виправте наступні помилки
	</div>
	{% endif %}
	{% endblock %}

{% block content %}


<form class="form-horizontal" action="{% url "students_add" %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<span {% if errors %}style="color:red; font-size:0.8em"{% endif %}>
				* Обов’язкове поле
			</span></div>
	</div>
	<div class="form-group {% if errors.first_name %}has-error{% endif %}">
		<label class="col-sm-2 control-label" for="first_name">
			Прізвище 
			<span {% if errors.first_name %}style="color:red"{% endif %}>
				*
			</span>
		</label>
		<div class="col-sm-10">
			<input type="text" value="{{ request.POST.first_name }}" 
				class="form-control" name="first_name"
				id="first_name" placeholder="Введіть прізвище" />
			<span class="help-block	">{{ errors.first_name }}</span>
		</div>
	</div>
	<div class="form-group {% if errors.last_name %}has-error{% endif %}">
		<label class="col-sm-2 control-label" for="last_name">
			Ім’я 
			<span {% if errors.first_name %}style="color:red"{% endif %}>
				*
			</span>
		</label>
		<div class="col-sm-10">
			<input type="text" value="{{ request.POST.last_name }}" 
				class="form-control" name="last_name"
				id="last_name" placeholder="Введіть ім’я" />
			<span class="help-block	">{{ errors.last_name }}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="middle_name">
			По-батькові
		</label>
		<div class="col-sm-10">
			<input type="text" value="{{ request.POST.middle_name }}" 
				class="form-control" name="middle_name"
				id="middle_name" placeholder="Введіть ім’я по-батькові" />
		</div>
	</div>
	<div class="form-group {% if errors.birthday %}has-error{% endif %}">
		<label class="col-sm-2 control-label" for="birthday">
			Дата народження 
			<span {% if errors.first_name %}style="color:red"{% endif %}>
				*
			</span>
		</label>
		<div class="col-sm-10">
			<input type="text" value="{{ request.POST.birthday }}" 
				class="form-control" name="birthday" 
				id="birthday" placeholder="YYYY-MM-DD" />
			<span class="help-block	">{{ errors.birthday }}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="photo">
			Фото
		</label>
		<div class="col-sm-10">
			<input type="file" value=""
				name="photo" id="photo" placeholder="1986-12-12"
				{% if errors.photo %}style="border: 1px solid red"{% endif %} />
			<span class="help-block">{{ errors.photo }}</span>
		</div>
	</div>
	<div class="form-group {% if errors.ticket %}has-error{% endif %}">
		<label class="col-sm-2 control-label" for="ticket">
			№ білету 
			<span {% if errors.first_name %}style="color:red"{% endif %}>
				*
			</span>
		</label>
		<div class="col-sm-10">
			<input type="text" value="{{ request.POST.ticket }}" 
				class="form-control" name="ticket" id="ticket" 
				placeholder="Введіть номер білету" />
			<span class="help-block">{{ errors.ticket }}</span>
		</div>
	</div>
	<div class="form-group {% if errors.student_group %}has-error{% endif %}">
		<label class="col-sm-2 control-label" for="student_group">
			Група 
			<span {% if errors.first_name %}style="color:red"{% endif %}>
				*
			</span>
		</label>
		<div class="col-sm-10">
			<select name="student_group" id="student_group" class="form-control" />
				<option value="">Виберіть групу</option>
				{% for group in groups %}
				<option value="{{ group.id }}" 
					{% if group.id == request.POST.student_group|add:0 %}
					selected="1" {% endif %}>
					{{ group.title }}
				</option>
				{% endfor %}
			</select>
			<span class="help-block">{{ errors.student_group }}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="notes">
			Додаткові нотатки
		</label>
		<div class="col-sm-10">
			<textarea class="form-control" rows="3"name="notes" id="notes">
				{{ request.POST.notes }}
			</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary" name="add_button">Зберегти</button>
			<button type="submit" class="btn btn-close" style="margin-left:10px"
				name="cancel_button">Скасувати</button>
		</div>
	</div>
</form>

{% endblock content %}

