{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Видалити студента{% endblock meta_title %}

{% block title %}Видалити студента{% endblock title %}

{% block content %}


<form class="form-horizontal" action="{% url "students_delete" object.id %}" method="post">
	{% csrf_token %}
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<p>Ви дійсно хочете видалити студента "{{ object }}"?</p>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<div class="form-group">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<button type="submit" class="btn btn-danger" name="delete_button">Так</button>
			<input type="submit" class="btn btn-close" style="margin-left:10px"
				name="cancel_button" value='Скасувати' /><br /><br />
		</div>
		<div class="col-sm-4"></div>
	</div>
</form>


{% endblock content %}

