{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}<div class='title_page'>База Студентів</div>{% endblock title %}

{% block content %}
<div id='page'>
<a class="btn btn-primary btn-lg head form-link add-student" 
	href="{% url "students_add" %}" role="button">
	Додати Студента
</a>
<div>
	<!-- Table of Student -->
	<table class="table table-hover table-striped">
		{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
		<thead>
			<tr>
				<th><a class='sorting' href="{% url "home" %}?order_by=id
					{% if order_by == 'id' and reverse != '1' %}
						&amp;reverse=1
					{% endif %}">№
					<span class="arrUp" style="display: none">&uarr;</span>
					<span class="arrDown" style="display: none">&darr;</span>
					<a></th>
				<th>Фото</th>
				<th><a class='sorting' href="{% url "home" %}?order_by=first_name
					{% if order_by == 'first_name' and reverse != '1' %}
						&amp;reverse=1
					{% endif %}">
					Прізвище 
					<span class="arrUp">&uarr;</span>
					<span class="arrDown" style="display: none">&darr;</span>
					</a></th>
				<th><a class='sorting' href="{% url "home" %}?order_by=last_name
					{% if order_by == 'last_name' and reverse != '1' %}
						&amp;reverse=1
					{% endif %}">
					Ім’я
					<span class="arrUp" style="display: none">&uarr;</span>
					<span class="arrDown" style="display: none">&darr;</span>
					</a></th>
				<th><a class='sorting' href="{% url "home" %}?order_by=ticket
					{% if order_by == 'ticket' and reverse != '1' %}
						&amp;reverse=1
					{% endif %}">
					№ Білету
					<span class="arrUp" style="display: none">&uarr;</span>
					<span class="arrDown" style="display: none">&darr;</span>
					</a></th>
				<th><a class='sorting' href="{% url "home" %}?order_by=student_group__title
					{% if order_by == 'student_group__title' and reverse != '1' %}
						&amp;reverse=1
					{% endif %}">
					Група
					<span class="arrUp" style="display: none">&uarr;</span>
					<span class="arrDown" style="display: none">&darr;</span>
					</a></th>
				<th>Дії</th>
			</tr>
		</thead>
		{% endwith %}
		<tbody>
			<!-- Студенти -->
			{% for student in students %} 
			<tr>
				<!-- Student ID -->
				<td>{{ forloop.counter }}</td>
				<!-- Student photo -->
				{% if student.photo %}
				<td><img height="40" width="40" 
				src="{{ student.photo.url }}" class="img-circle"></td>
				{% else %}
				<td><img height="40" width="40" 
				src="{% static "img/default_user.png" %}" class="img-circle"></td>
				{% endif %}
				<!-- Student name -->
				<td><a title="Редагувати" 
					href="{% url "students_edit" student.id %}" 
					class="form-link">
						{{ student.first_name }}
				</td>
				<td><a title="Редагувати" 
					href="{% url "students_edit" student.id %}"
					class="form-link">
						{{ student.last_name }}
				</td>
				<td>{{ student.ticket }}</td>
				<td>{{ student.student_group.title }}</td>
				<td>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" 
							type="button" id="dropdownMenu1" data-toggle="dropdown" 
							aria-expanded="true">
								Дія
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" 
							aria-labelledby="dropdownMenu1">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" 
									href="{% url "journal" student.id %}">
									Відвідування
								</a></li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" 
								href="{% url "students_edit" student.id %}"
								class="form-link">
									Редагувати
								</a></li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" 
								class='form-link'
								href="{% url "students_delete" student.id %}">
									Видалити
								</a></li>
						</ul>
					</div>
				</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
	<!-- Panel of Navigation -->
	
</div>

{% if pages|length > 1 %}
		{% include "students/pagination.html" with page='home' order_by=request.GET.order_by reverse=request.GET.reverse %}
{% endif %}

</div>
{% endblock content %}

