/* Global Styles */
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
}
h5 {
	text-align:center;
}
.alert {
	margin-top:10px;
	margin-bottom:10px;
}
#footer {
	border-top:1px solid #dddddd;
	padding-top:10px;
}
#group-selector {
	margin-top:30px;
}
#group-selector select{
	margin:0px;
	height:30px;
	width:85%;
	border:1px solid #cccccc;
	background-color:#ffffff;
	color:#555555;
	line-height:30px;
}
.head {
	display:inline-block;
	margin-right:20px;
	margin-bottom:20px;
	vertical-align:bottom;
}

#blankCheckbox {
	margin-right:auto;
	margin-left:auto;
	position:relative;
}
/*.form-group {
	display:inline-block;
	width:200px;
	margin-bottom: 0px; 
} 
.row {
	margin-bottom: 10px;
} 
.col-xs-2 p {
	text-align:right;
	margin-top:6px;
}
.col-xs-2 p label {
	font-weight:normal;
} */

.row:nth-child(8) {
	margin-top:20px;
}
#last_p {
	margin-top:0;
}
.row:last-child {
	text-align:left;
	padding-top:20px;
}
.btn-close {
	color:#428bca;
	background-color:white;
}
.help-block {
	color:#F80000;
}
textarea, select, input, .input-group {
	max-width: 300px;
}
.day-box, .day-header {
	padding: 4px !important;
	vertical-align: middle !important;
	text-align: center;
}
#ajax-progress-indicator {
	display: none;
}
#error {
	display: none;
}

