{% extends "students/base.html" %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block meta_title %}Зв’язок із Адміністратором{% endblock meta_title %}

{% block status_message %}

	{% if form.errors %}
	<div class="alert alert-danger" role="alert">
		Будь-ласка, виправте наступні помилки
	</div>
	{% endif %}

	{{ block.super }}

{% endblock status_message %}

{% block title %}<div class='title_page'>Зв’язок із Адміністратором</div>{% endblock title %}

{% block content %}

<div id='page'>

{% crispy form %}

</div> 

{% endblock content %}
